html,body{
  height: 100%;
  background-color: grey;
}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
position: relative;
left: 50%;
transform: translate(-50%);
}

h2 {
position: relative;
left: 50%;
top: 17%;
transform: translate(-50%);
}

.cover-scritta-copy {
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%);

}
.barra-nera {
overflow: hidden;
background-color: black;
margin: 0;
padding: 0;
position:sticky;
}

.barra-nera a {
float: left;
display: block;
color: white;
text-align: center;
padding: 12px 12px;
text-decoration: none;
font-size: 12px;
border-right: 0.5px solid #bbb;
}

.barra-nera a:hover {
background-color: grey;
color: black;
}

.barra-nera .search-bar {
float: right;
}

.barra-nera input[type=text] {
padding: 5px;
margin-top: 8px;
font-size: 10px;
border: none;
}

.barra-nera .search-bar button {
float: right;
padding: 5px 5px;
margin-top: 8px;
margin-right: 10px;
background: white;
font-size: 12px;
border: none;
cursor: pointer;
border-left: 0.5px solid #bbb
}

.barra-nera .search-bar button:hover {
background: grey;

}

@media screen and (max-width: 600px) {
.barra-nera .search-bar {
float: none;
}
.barra-nera a, .barra-nera input[type=text], .barra-nera .search-bar button {
float: none;
display: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
}
.barra-nera input[type=text] {
border: 1px solid pink;
}
}
.header {
text-align: center;
margin: 70px;
margin-bottom: 20px;
}

p1 a{
  text-decoration: none;
  color: white;
}

h1 {
font-family: "Silver Charm";
font-size: 80px;
line-height: 60px;
color: white;
width: 500px;
margin: 0;
}

h2{
font-family: "Tarzana Narrow";
font-size: 20px;
width: 700px;
margin-top: 13px;
color: white;
}
.topnav{
text-align: center;
}
hr{
width: 600px;
margin-top: 5px;
margin-bottom: 5px;
}

p1{
letter-spacing: 5px;
color: white;
padding: 0px;
margin: 0px;
}

.cover{
margin-top: 28px;
background-color: #262a2b;
overflow: scroll;
}

#slider{
  width: 100vw;
  height: 500px;
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 65%;
  background-size:cover;
  background-position: center center;
  overflow: scroll;
}

#box {
  height: 500px;
  width: 281px;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin: 0;
  top: 0;
}

img{
height: 500px;
position: relative;
left: 50%;
transform: translate(-50%);
display: none;
}

.active {
  display: inline-block;
}

.next{
  padding: 20px;
  font-size: 26px;
  border: none;
  background-color: #37f;
  color: white;
  position: relative;
  left: 100%;
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
  transform: translate(-200%, -285px);

}
.prev{
  left: 0px;
  top:45%;
  border-radius: 0px 8px 8px 0px;
  padding: 20px;
  font-size: 26px;
  border: none;
  background-color: #37f;
  color: white;
  position: relative;
  transform: translate(0%, -285px);
  cursor: pointer;

}


.cover-scritta-copy {
display: table-cell;
vertical-align: middle;
text-align: center;
justify-content: center;

}

.click{
display:inline-block;
background: white;
padding: 10px 20px;
border-radius: 3px;
text-decoration: none;
}
.citazione{
position: relative;
left: 50%;
width: 100vw;
transform: translate(-50%);

}
.citazione-blocco{
border: 1px solid white;
max-width: 100%;
margin: 40px auto;
background-color: white;
margin-left: 20px;
margin-right:20px;
border-radius: 15px;
padding-left:10px
padding-right: 10px;
text-align: center;
justify-content: center;
}

h3 {
font-family: "Helvetica";
font-style: italic;
}

.cards_clearfix {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0 20px;



}

.cards {
    max-width: 1200px;
    margin: 40px auto;
}

.card{
  width: 30%;
  margin: 0 1%;
  background-color: white;
  float: left;
  padding: 0px;
}

.card-image{
width: 100%;
height: auto;
margin-top: 0px;
}

.card-testo{
padding: 5px 20px;

}

.card-testo h3{
      margin-bottom: 0px;
      margin-top: 5px;
}

.card-testo p{
margin-top: 5px;
}
