.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
html {
  width: 100vw;

}
#caricamento {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  z-index: 1;
}

body {
  margin: 0;
  background-color: #262a2b;
  width: 100vw;

}

#navbar{
  background-color: #161819;
  display: block;
  text-align: center;
  height: 76px;
  width: 100%;

  }

#logo{
  position: absolute;
  left: 0%;
  height: 60px;
  top: 16px;
  padding: 0 25px;
  margin: 0px;
}

#logo img{
  position: relative;
  height: 60px;
  margin-top: 1px;
}

#plane{
  padding: 0 25px;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 16px;
  left: 100%;
  transform: translate(-100%);
}


#quote1, #quote2 {
  height: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;  position: relative;
  text-align: left;
  padding: 10px;
  background-color: grey;
  width: 60%;
  border-radius: 7px;
  left: 50%;
  transform: translate(-50%);
}

#author1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-bottom: 20px;
  display: none;
}

#author2{
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: -20px;
  left: 68%;
  margin-bottom: 20px;
  display: none;

}

#vid1, #vid2{
  display: flex;
  justify-content: center;
  align-items: center;﻿

}

ul{
  list-style: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px;
  font-family: arial;
}

ul li {
  display: inline-block;
  text-align: center;
}

ul li:hover {
  transition: 0.4s ease;
}

#home, #about, #contacts, #projects {

}

#home:hover{
  background-color: #56b6c2;
}
#about:hover{
  background-color: #cc8e57;
}
#contacts:hover{
  background-color: #7e9d9d;
}
#plane:hover{
  background-color: #a3b2be;
}

#projects:hover{
  background-color: #e06c75;
}
#logo:hover{
  background-color: #eb846e;

}

#facebook, #instagram {
}

#me {
  position: relative;
  margin: 0px;
  width: 600px;
  height: 616px;
  overflow: hidden;


}
.container{
  margin: 0px;
}


#presentation {
  width: 56%;
  position: absolute;
  left: 400px;
  top: 86px;
  color: #c1c1c1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  word-spacing: 1px;
  line-height: 130%;
  font-size: 1.65vw;
  text-align: justify;
}

#wrapper-top{
  display: grid;
  grid-template-columns: repeat(11, 111px);
  font-family: 'Open Sans', sans-serif;
  color: white;
  grid-gap: 4px;

}
#canaletto{
  grid-row: 1/12;
  grid-column: 6/7;
  overflow: hidden;
  border-radius: 8px;
}
#canaletto img {
  position: relative;
  left: -105px;
  width: 300px;
}

#grid-top{
  grid-column: 2/6;
  border-radius: 4px;

}
#grid-top1{
  grid-column: 7/11;
  border: 1px solid white;
  border-radius: 4px;

}

#wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  grid-auto-rows:minmax(100px, 180px);

}

#grid{
  background-color: white;
}

ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  padding: 19px 78px;
  margin: 0;
  text-align: center;
  line-height: 60px;
  height: 60px;
  /*border-right: 2px solid rgba(255, 255, 255, 0.4);*/
}
ul li a:hover {
  color: white;
}
a {
  padding: 10px 78px;
  margin: 0px;
  text-align: center;
  line-height: 60px;
  height: 60px;
  }


#container {
  position: relative;
  height: 78vh;
  top: 10px;
}
#riga1 {
  position: relative;
  height: 40%;
  top: 10px;
}

#mail{
  padding: 0;
  height: 50px;
  width: 50px;
  position: relative;
  left: 8%;
  color: white;
}

#mail1 {
margin-top: 4px;
}

.show{
  opacity: 1;
}

#telefono{
  position: relative;
  padding: 0;
  left: 8%;
  height: 60px;
  width: 60px;
  color: white;
}

.fa-envelope {
  font-size: 50px;
  margin-top: 10px;
}

.fa-phone {
  font-size: 50px;
  margin-bottom: 10px;
}
span {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  left:30%;
  color: white;
  transition: opacity .4s ease;
  padding-top: 10px;
  opacity: 0;
}


footer {
  font-family: monospace;
  color: #a3b2be;
  background-color: #2d3436;
  top: 100%;
  position: relative;
  width: 100%;

}

footer ul {
  margin: 0px;
}
